body{
  user-select: none;
  -moz-user-select: none;
}
.center{
  text-align: center;
}

#text{
  width: 25%;
  margin-left: 15%;
  margin-right: 15%;
  min-height: 200px;
}
footer{
  padding-top: 3em;
  padding-bottom: 1em;
}
