h1, h2, .center{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none
}
.center{
  text-align: center;
}

#text{
  width: 25%;
  height: 200px;
}
footer{
  padding-top: 3em;
  padding-bottom: 1em;
}
.formItem{
  display: block;
  margin-top: 1em;
}
